<div class="sidebar" data-color="black">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text ml-5">
                Book Shop
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="../dashboard.html">
                    <i class="fas fa-chart-pie"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#formsExamples">
                    <i class="fas fa-laptop"></i>
                    <p>Punto Venta<b class="caret"></b></p>
                </a>
                <div class="collapse" id="formsExamples">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../forms/regular.html">
                                <span class="sidebar-normal">Ventas</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../forms/extended.html">
                                <span class="sidebar-normal">Ventas Diarias</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#frmCompra">
                    <i class="fas fa-shopping-cart"></i>
                    <p>Punto Compra<b class="caret"></b></p>
                </a>
                <div class="collapse" id="frmCompra">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-normal">Sistema de Compras</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-normal">Compras Diarias</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#componentsExamples">
                    <i class="fas fa-book"></i>
                    <p>Biblioteca<b class="caret"></b></p>
                </a>
                <div class="collapse" id="componentsExamples">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../components/buttons.html">
                                <span class="sidebar-normal">Libros</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/home/authors']">
                                <span class="sidebar-normal">Autores</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../components/panels.html">
                                <span class="sidebar-normal">Editoriales</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#frmInventory">
                    <i class="fas fa-truck-loading"></i>
                    <p>Inventario<b class="caret"></b></p>
                </a>
                <div class="collapse" id="frmInventory">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-normal">Alta Productos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-normal">Consulta Productos</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#tablesExamples">
                    <i class="fas fa-cogs"></i>
                    <p>Administración<b class="caret"></b></p>
                </a>
                <div class="collapse" id="tablesExamples">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../tables/regular.html">
                                <span class="sidebar-normal">Usuarios</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../tables/extended.html">
                                <span class="sidebar-normal">Perfiles</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../tables/bootstrap-table.html">
                                <span class="sidebar-normal">Promociones</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../tables/datatables.net.html">
                                <span class="sidebar-normal"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>